@font-face {
  font-family: 'icomoon';
  src:asset-url('fonts/icomoon/icomoon.eot?95gvfs');
  src:asset-url('fonts/icomoon/icomoon.eot?#iefix95gvfs') format('embedded-opentype'),
      asset-url('fonts/icomoon/icomoon.woff?95gvfs') format('woff'),
      asset-url('fonts/icomoon/icomoon.ttf?95gvfs') format('truetype'),
      asset-url('fonts/icomoon/icomoon.svg?95gvfs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\f00c";
}
.icon-times:before {
  content: "\f00d";
}
.icon-overzichtIcon:before {
  content: "\e601";
}
.icon-resultsIcon:before {
  content: "\e602";
}
.icon-scoresIcon:before {
  content: "\e603";
}
.icon-mail:before {
  content: "\e605";
}
.icon-pencil:before {
  content: "\e607";
}
.icon-paperclip:before {
  content: "\e609";
}
.icon-user:before {
  content: "\e60e";
}
.icon-house:before {
  content: "\e623";
}
.icon-lock:before {
  content: "\e674";
}
.icon-logout:before {
  content: "\e676";
}
.icon-plus2:before {
  content: "\e67e";
}
.icon-cross3:before {
  content: "\e67f";
}
.icon-blocked:before {
  content: "\e683";
}
.icon-info2:before {
  content: "\e685";
}
.icon-help:before {
  content: "\e687";
}
.icon-warning:before {
  content: "\e688";
}
.icon-pictures:before {
  content: "\e69d";
}
.icon-trash:before {
  content: "\e6a2";
}
.icon-arrow-left3:before {
  content: "\e600";
}
.icon-arrow-down3:before {
  content: "\e6c6";
}
.icon-arrow-up2:before {
  content: "\e6c7";
}
.icon-arrow-right3:before {
  content: "\e6c8";
}
.icon-arrow-left5:before {
  content: "\e6cd";
}
.icon-arrow-down5:before {
  content: "\e6ce";
}
.icon-arrow-up4:before {
  content: "\e6cf";
}
.icon-arrow-right5:before {
  content: "\e6d0";
}
.icon-arrow-left6:before {
  content: "\e6d1";
}
.icon-arrow-down6:before {
  content: "\e6d2";
}
.icon-arrow-up5:before {
  content: "\e6d3";
}
.icon-arrow-right6:before {
  content: "\e6d4";
}