#index
  position: relative
  text-align: center

  .container
    height: 100%
    width: 100%

    .header
      position: relative
      background-color: white
      height: 200px
      width: 100%
      margin: 0px

      .logo
        padding-top: 45px

        img
          width: 65%

    .content
      height: 100%
      width: 100%

      .advice
        color: #4f4f4f
        font-family: "Open Sans"
        font-size: 1.125em
      .image
        position: relative
        img
          width: 100%

      .reloadbtn
        position: absolute
        left: 50%
        bottom: -5%
        background-color: #da392a
        margin-left: -20%
        height: 80px
        width: 40%
        font-family: "Open Sans"
        font-size: 1.3em
        font-weight: bold
        color: white
