#index
  position: relative
  text-align: center

  .container
    padding: 1%

    .header
      .logo
        background: image_url('logo_mobile.png') no-repeat center center

    .content
      height: 100%
      width: 100%

      .advice
        color: #4f4f4f
        font-family: "Open Sans"
      .image
        img
          width: 75%
