#index
  position: relative
  text-align: center

  .container
    height: 100%
    width: 100%

    .header
      position: relative
      background-color: white
      height: 66px
      width: 100%
      margin: 0px

      .logo
        background: image_url('logo_mobile.png') no-repeat center center

    .content
      height: 100%
      width: 100%

      .advice
        color: #4f4f4f
        font-family: "Open Sans"
      .image
        img
          width: 75%
